.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 20px;
  padding: 10px;
}

.course-logo-img {
  height: 80px;
}
.name {
  margin: 10px;
  color: #1e293b;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Roboto';
}
