.item-success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 80%;
}
.name-desc-container{
  height: 400px;
  width: 500px;
}
.image {
  width: 300px;
  height: 400px;
  margin-right: 20px;
}
.heading {
  color: #1e293b;
  font-family: 'Roboto';
}
.description {
  font-family: 'Roboto';
}
